{% extends "register.html" %}

{% load static %}


{% block content %}


    <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-12">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="signup.html">Signup</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <!-- <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">CREATE AN ACCOUNT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-5 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h3 style="text-align: center;"><img src="{% static 'images/3inch.png' %}" alt=""></h3>

                                    <hr class="new5">

                              
                                    {% if messages %}
                                    {% for mess in messages %}

                                    <div class="alert alert_{{ mess.tags }}">
                                        <div class="alert--icon">
                                            <i class="fas fa-times-circle"></i>
                                          </div>

                                          <div class="alert--content">
                                            {{mess}}
                                          </div>
                                    </div>
   
                                    {% endfor %}

                                  {% endif %}


                                        <form method="POST" class="l-f-o__form">

                                            {% csrf_token %}



                                        {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert_error">

                                            <div class="alert--icon">
                                                <i class="fas fa-times-circle"></i>
                                              </div> 
                                                    <div class="alert--content">

                                                    {{ error|escape }}

                                                    </div>

                                                </div>


                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}

                                        <div class="alert alert_error">

                                            <div class="alert--icon">
                                                <i class="fas fa-times-circle"></i>
                                              </div> 
                                                    <div class="alert--content">

                                                    {{ error|escape }}

                                                    </div>

                                                </div>


                                        {% endfor %}
                                        {% endif %} 

                                        <br>

                                          


                                            <div class="gl-inline">
                                            <div class="u-s-m-b-30">

                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-password">NEW PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password" name="new_password1" required="" id="id_new_password1" placeholder="Enter Password"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-password">CONFIRM PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password" name="new_password2" required="" id="id_new_password2" placeholder="Enter Password"></div>
                                                <div style="text-align: center;">
                                                    <div class="u-s-m-b-30">
        
                                                        <button class="btn btn--e-brand" type="submit">SAVE</button>
                                                    
                                                    </div>
                                                   
                                                
                                                
                                            </div>



                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
      
   
    <!--====== End - Main App ======-->
{% endblock content %}

{% comment %}

<form method="POST" action="." class="box">
  <input type="hidden" name="csrfmiddlewaretoken" value="p2ki1430uMc7Fmm3JJ5pWyFyWXGWRvVWF9u7OjNxgqyx4zp1ptpCEhiDEHlLiHl8">

  <h1 class="has-text-centered mb-5 is-size-4">Enter your new password</h1>

<label for="id_new_password1">New password:</label><input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"><br><span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
<label for="id_new_password2">New password confirmation:</label><input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">

  <div class="field">
    <button class="button is-success" type="submit">
      Save
    </button>
  </div>
</form>  

{% endcomment %}