{% extends "register.html" %}

{% load static %}

{% block content %}
  


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-12">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="lost-password.html">Reset</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <!-- <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">FORGOT PASSWORD?</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-5 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                      
                                      <h3 style="text-align: center;"><img src="{% static 'images/3inch.png' %}" alt=""></h3>

                                      <hr class="new5">
                                        <!-- <h1 class="gl-h1">PASSWORD RESET</h1>

                                        <span class="gl-text u-s-m-b-30">Enter your email or username below and we will send you a link to reset your password.</span> -->
                                        
                                        <div class="alert alert_info">
                                          <div class="alert--icon">
                                            <i class="fas fa-check-circle"></i>
                                          </div>
                                          <div class="alert--content">
                                            An email has been sent with instruction to reset your password
                                          </div>
                                          
                                        </div>

                                        <div class="u-s-m-b-30">

                                          
                                      
                                      </div>
                                     
                                  
                                  <div class="u-s-m-b-30">
                                      <div style="text-align: center;">
                                          Back to login? <a class="gl-link" href="{% url 'register:vendor_login' %}"> Log in </a>
                                      </div>
                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
 
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->


    {% endblock content %}

