{% extends "base.html" %}


{% load static %}


{% block content %}
  






        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="dash-my-order.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                              {% include "customer_dashboard_sidebar.html" %}
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                            <span class="dash__text u-s-m-b-30">Here you can see all products that have been Ordered.</span>
 
                                            
                                            <!-- <form class="m-order u-s-m-b-30">
                                                <div class="m-order__select-wrapper">

                                                    <label class="u-s-m-r-8" for="my-order-sort">Show:</label><select class="select-box select-box--primary-style" id="my-order-sort">
                                                        <option selected>Last 5 orders</option>
                                                        <option>Last 15 days</option>
                                                        <option>Last 30 days</option>
                                                        <option>Last 6 months</option>
                                                        <option>Orders placed in 2018</option>
                                                        <option>All Orders</option>
                                                    </select></div>
                                            </form> -->


                                                    {% for product in orderitems %}

                                                       {% if product.variant.image_id  > 0 %} 


                                            <div class="m-order__list">
                                                
                                                <div class="m-order__get">
                                                 
                                                    <div class="manage-o__header u-s-m-b-30">

                                                        <div class="dash-l-r">
                                                            <div>
                                                                <div class="manage-o__text-2 u-c-secondary">Order #{{order.ref_code}}</div>
                                                                <div class="manage-o__text u-c-silver">Placed on {{product.create_at}}</div>
                                                            </div>


                                                            
                                                            <div>
                                                                <div class="dash__link dash__link--brand">

                                                                    <a href="/order/order_product_detail/{{ product.id }}/{{ product.order.id}}">MANAGE</a></div>
                                                            </div>

                                                        </div>
                                                    </div>



                                                    <div class="manage-o__description">


                                                        <div class="description__container">
                                                            <div class="description__img-wrap">

                                                                <img class="u-img-fluid" src="{{product.variant.image}}" alt=""></div>
                                                            <div class="description-title">{{product.variant.name}}</div>
                                                        </div>

                                                        <div class="description__info-wrap">
                                                            <div>

                                                                <span class="manage-o__badge badge--processing">{{product.status}}</span></div>
                                                            <div>

                                                                <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                    <span class="manage-o__text-2 u-c-secondary">{{product.quantity}}</span></span></div>
                                                            <div>

                                                                <span class="manage-o__text-2 u-c-silver">Total:

                                                                    <span class="manage-o__text-2 u-c-secondary">${{product.variant_amount}}</span></span></div>
                                                        </div>
                                                  

                                                    </div>

                                                </div>

                                                </div>


                                                {% else %}

                                                <div class="m-order__list">
                                                
                                                    <div class="m-order__get">

                                                <div class="manage-o__header u-s-m-b-30">

                                                    <div class="dash-l-r">
                                                        <div>
                                                            <div class="manage-o__text-2 u-c-secondary">Order #{{order.ref_code}}</div>
                                                            <div class="manage-o__text u-c-silver">Placed on {{product.create_at}}</div>
                                                        </div>


                                                        
                                                        <div>
                                                            <div class="dash__link dash__link--brand">

                                                                <a href="/order/order_product_detail/{{ product.id }}/{{ product.order.id}}">MANAGE</a></div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="manage-o__description">


                                                    <div class="description__container">
                                                        <div class="description__img-wrap">

                                                            <img class="u-img-fluid" src="{{product.product.image_main.url}}" alt=""></div>
                                                        <div class="description-title">{{product.product.name}}</div>
                                                    </div>

                                                    <div class="description__info-wrap">
                                                        <div>

                                                            <span class="manage-o__badge badge--processing">{{product.status}}</span></div>


                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">{{product.quantity}}</span></span></div>
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Total:

                                                                <span class="manage-o__text-2 u-c-secondary">${{product.amount}}</span></span></div>
                                                    </div>
                                              

                                                </div>
                                             

                                                </div>
                                        

                                           
                                            </div>
            
                                                {% endif %}

                                                         {% endfor %}



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->

    <!--====== End - Main App ======-->








{% endblock content %}