
{% load static %}


    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="images/favicon.png" rel="shortcut icon">
    <title>Costumebase - Electronics, Apparel, Computers, Books, DVDs & more</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    
<!-- 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alerts-css@1.0.2/assets/css/alerts-css.min.css"> -->

    <link rel="stylesheet" href="{% static 'css/alerts-css.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/alerts-css.min.css' %}"> -->

    
    

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">

    <!--====== App ======-->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <link rel="stylesheet" href="{% static 'css/topcat.css' %}">

    <link rel="stylesheet" href="{% static 'css/nonabr.css' %}">
    
    <link rel="stylesheet" media="screen" href="{% static 'css/navbar.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquary.css' %}">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

