<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{product.vendor.user.first_name}} lol
   <a href="{{ request.path|urlencode }}">current</a>

    <div>
        <form method="POST" action="{% url 'product:send-message' product.pk product.vendor.user.username %} ">
           {% csrf_token %}
    <p>

<p><label for="id_description">Description:</label>
     <textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea></p>
<p>
    <!-- <label for="id_read">Read:</label> <input type="checkbox" name="read" id="id_read"></p> -->
<!-- <p><label for="id_unread">Unread:</label> <input type="checkbox" name="unread" id="id_unread" checked=""></p> -->

    <button type="submit">send</button>

        </form>
    </div>
    
</body>
</html>