{% if product.variant == 'Size-Color' %}

<div class="product-options" >
    <div class="size-option">
        <form method="POST" id="post-form">

            <input type="hidden" name="productid" id="productid" value="{{ product.id }}">
            <span class="text-uppercase">Size :</span>

            {% csrf_token %}
            <select name="size" id="size">
                {% for rs in sizes %}
                    <option {% if variant.size_id == rs.size_id %} selected
                     {% endif %} value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                {% endfor %}

            </select>
        </form>
    </div>

    <form method="post" action="?q=selectvariant" id="post-color">
        {% csrf_token %}
        <div id="appendHere">
            <input type="hidden" name="size" id="size" value="{{ size_id }}">
            <ul class="color-option" >
                <li><span class="text-uppercase">Color:</span></li>
                {% for rs in colors %}
                    <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} 
                    name="variantid" id="variantid" value="{{ rs.id }}"
                     onchange="this.form.submit();">

                    <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                        <a style="background-color:{{ rs.color.code }};
                         color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                            {{ rs.price }}  {{ rs.color }}
                        </a>

                        <img src="{{ rs.image }}" style="height: 70px">
                    </li>
                {% endfor %}
            </ul>
        </div>
    </form>
</div>


{% elif product.variant == 'Size' %}
<form method="post" action="?q=selectvariant" id="post-color">
    {% csrf_token %}
    <div id="appendHere">
        <input type="hidden" name="size" id="size" value="{{ size_id }}">
        <ul class="color-option" >
            <li><span class="text-uppercase">Size:</span></li>
            {% for rs in sizes %}
                <input type="radio"  
                {% if variant.id == rs.id %} checked {% endif %}
                 name="variantid" id="variantid" value="{{ rs.id }}"
                  onchange="this.form.submit();">
                <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                    <a style=" color: #204d74;  width: 90px">
                        ${{ rs.size }}<br> {{ rs.price}} 
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</form>
<br><br>

{% elif product.variant == 'Color' %}
<form method="post" action="?q=selectvariant" id="post-color">
    {% csrf_token %}
    <div id="appendHere">
        <input type="hidden" name="size" id="size" value="{{ size_id }}">
        <ul class="color-option" >
            <li><span class="text-uppercase">Color:</span></li>
            {% for rs in colors %}
                <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} 
                name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                    <a style="background-color:{{ rs.color.code }}; color:
                     #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                        {{ rs.price}} {{ rs.color }}
                    </a>
                    <img src="{{ rs.image }}" style="height: 70px">
                </li>
            {% endfor %}
        </ul>
    </div>

</form>
</div>
{% endif %}



{% if  product.variant != 'None'   %}
<form action="/order/addtoshopcart/{{ product.id }}" method="post"  id="addchart-form">
{% csrf_token %}
<input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}">
<div id="SelectedProduct">
<p><strong>Availability:</strong> 
    
    {% if variant.quantity > 0  %}
     In Stock 
     
     {% else %}
      Out of Stock
       {% endif %}
    
    </p>
<p><strong>Selected :</strong> 
    Size : {{ variant.size }} 
     Color : {{ variant.color }} </p>
<h3 class="product-price">${{ variant.price}}</h3>
<div class="qty-input">
    <span class="text-uppercase">QTY: </span>
    <input class="input" name="quantity" type="number" value="1" 
    min="1" max="{{ variant.quantity }}">
    <button type="submit" {% if variant.quantity < 1  %} disabled 
    {% endif %} class="primary-btn add-to-cart">
        <i class="fa fa-shopping-cart"></i> Add to Cart
    </button>
</div>
</div>
</form>
{% else %}

<form action="/order/addtoshopcart/{{ product.id }}" method="post"  id="addchart-form">
{% csrf_token %}
<div id="SelectedProduct">
<p><strong>Availability:</strong> {% if product.amount > 0  %} 
    In Stock {% else %} Out of Stock {% endif %}</p>
<h3 class="product-price">{{ product.price }}</h3>
<div class="qty-input">
    <span class="text-uppercase">QTY: </span>
    <input class="input" name="quantity" type="number" value="1" 
    min="1" max="{{ product.amount }}">
   
    <button type="submit" {% if product.amount < 1  %} disabled {% endif %} 

    class="primary-btn add-to-cart">

        <i class="fa fa-shopping-cart"></i> Add to Cart
    </button>
</div>
</div>
</form>

{% endif %}
</div>



{% comment %}
<div class="u-s-m-b-15">
    
    <span class="pd-detail__label u-s-m-b-8">Size:</span>

    <div class="pd-detail__size">

        <div class="size__radio">

            <input type="radio" id="xs" name="size" checked="">

            <label class="size__radio-label" for="xs">XS</label>
            
        </div>
                                                       
    </div>

</div>



<div class="u-s-m-b-15">

    <span class="pd-detail__label u-s-m-b-8">Color:</span>

    <div class="pd-detail__color">
        
        <div class="color__radio">

            <input type="radio" id="jet" name="color" checked="">

            <label class="color__radio-label" 
            for="jet" style="background-color: #333333">
        
        </label>
        </div>
    
    </div>

</div>






<div class="pd-detail-inline-2">

    <div class="u-s-m-b-15">

        <!--====== Input Counter ======-->
        <div class="input-counter">

            <span class="input-counter__minus fas fa-minus"></span>

            <input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">

            <span class="input-counter__plus fas fa-plus"></span></div>
        <!--====== End - Input Counter ======-->
    </div>

    <div class="u-s-m-b-15">

        <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>
    </div>

</div>




    <div class="pd-detail-inline-2">

        <div class="u-s-m-b-15">

            <!--====== Input Counter ======-->
            <div class="input-counter">

                <span class="input-counter__minus fas fa-minus"></span>

                <input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">

                <span class="input-counter__plus fas fa-plus"></span></div>
            <!--====== End - Input Counter ======-->
        </div>
        
        <div class="u-s-m-b-15">

            <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button></div>
    </div>

{% endcomment %}